@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

:root {
  --color_back_1: #ee7752;
  --color_back_2: #890092;
  --color_back_3: #23a6d5;
  --color_back_4: #23d5ab;
  --color_content: #12192c;
  --img_border: #BE00CA;
  --highlight: #ED00FC;
  --photo_size: 200px;
  --maskot_size: 150px;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-45deg,
      var(--color_back_1), var(--color_back_2), var(--color_back_3), var(--color_back_4));
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  -webkit-animation: gradient 10s ease infinite;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.about-wrapper {
  height: 100vh;
  width: 100%;
}

.about-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 0rem 0rem 0rem;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

.about-left-content>div {
  background: var(--color_content);
  padding: 2rem 4rem 0rem 4rem;
  text-align: center;
  border-radius: 12px 12px 0 0;
}

.about-left-content {
  background: var(--color_content);
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  border-radius: 12px;
  width: 80%;
}

.about-img {
  position: relative;
  right: -15px;
}

.about-img img {
  display: block;
  border-radius: 50%;
  --b: 8px;
  /* the border thickness*/
  --g: 14px;
  /* the gap */

  width: var(--photo_size);
  aspect-ratio: 1;
  outline: calc(var(--photo_size)/2) solid #0000;
  outline-offset: calc(var(--photo_size)/-2);
  transition: .3s;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  &:hover {
    outline: var(--b) solid var(--img_border);
    outline-offset: var(--g);
  }
}

.about-img.maskot {
  position: relative;
  top: -70px;
  left: -15px;
}

.about-img.maskot img {
  display: block;
  border-radius: 50%;
  --b: 8px;
  /* the border thickness*/
  --g: 14px;
  /* the gap */

  width: var(--maskot_size);
  aspect-ratio: 1;
  outline: calc(var(--maskot_size)/2) solid #0000;
  outline-offset: calc(var(--maskot_size)/-2);
  transition: .3s;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  &:hover {
    outline: var(--b) solid var(--img_border);
    outline-offset: var(--g);
  }
}

.shadow {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  display: ruby;
}

.about-left-content h2 {
  font-size: 2rem;
  margin: 2.2rem 0 0.6rem 0;
  line-height: 1;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--highlight);
}

.about-left-content h3 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 0.5rem;
}

.icons {
  background: var(--color_content);
  display: flex;
  justify-content: center;
  padding: 0 0;
  margin-bottom: 2rem;
  border-radius: 0 0 12px 12px;
}

.icons li {
  list-style-type: none;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  background: linear-gradient(45deg, var(--color_back_1), var(--color_back_2));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    background: #edffec;
    color: var(--color_content);
    filter: drop-shadow(0 0 0.5rem #fccaff);
  }
}

.about-right {
  background: var(--color_content);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  text-align: center;
  color: #fff;
}

.about-right h1 {
  margin: 100px 0px 50px 0px;
  text-transform: lowercase;
  font-size: calc(5px + 18vh);
  line-height: calc(2px + 2vh);
  text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff;
  /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9; */
  font-family: "Sacramento", cursive;
  text-align: center;
  animation-name: blink, fade;
  animation-duration: 9s, 2s;
  animation-iteration-count: 1;
}

.about-btns {
  display: flex;
  margin: 0rem 0;
}

.btn {
  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 0.55rem 0;
  width: 130px;
  font-weight: 600;
  background: transparent;
  margin: 0 0.5rem;
  cursor: pointer;
  color: #fff;
}

.btn.btn-pink {
  background: linear-gradient(45deg, var(--color_back_1), var(--color_back_2));
  background-size: 120%;
  background-position: center;
  color: #fff;
  transition: all 0.5s ease-in-out;

  &:hover {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    filter: drop-shadow(0 0 0.5rem #fccaff);
  }
}

.about-para p {
  font-size: 0.9rem;
  font-weight: 200;
  padding: 0.2rem;
  opacity: 0.8;
}

.about-para a {
  text-decoration: none;
  color: #F998FF;
  font-weight: bold;
}

.about-para a:hover {
  background: #edffec;
  border-radius: 10px;
  padding: 0 0.2rem;
  color: #000;
  filter: drop-shadow(0 0 0.5rem #fccaff);
}

.about-para b {
  color: #F998FF;
  opacity: 1;
}

.posters-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  max-width: 90%;
  margin: 0 auto;
  flex-wrap: nowrap;
  /* Ensures posters stay in one row */
  overflow-x: auto;
  /* Adds horizontal scroll if needed */
}

.poster {
  width: 20%;
    height: 150px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  /* Prevents posters from shrinking */
}

.poster-image {
  width: 100%;
  height: 150px;
  object-fit: fill;
}

@media screen and (min-width: 992px) {
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  .about-left {
    position: relative;
  }

  .about-left-content {
    position: absolute;
    width: 80%;

  }
}

.credit {
  text-align: center;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.credit a {
  text-decoration: none;
  color: #B721FF;
  font-weight: bold;
}

button.btn.btn-pink {
    height: 40px;
    margin-top: 10px;
}

@-webkit-keyframes blink {

  20%,
  24%,
  55% {
    color: transparent;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff, 0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9; */
  }
}

@keyframes blink {

  20%,
  24%,
  55% {
    color: transparent;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9; */
  }
}

@keyframes fade {
  40% {
    opacity: 1.0;
  }

  42% {
    opacity: 0.1;
  }

  43% {
    opacity: 1.0;
  }

  45% {
    opacity: 0.1;
  }

  46% {
    opacity: 1.0;
  }
}

@-webkit-keyframes fade {
  40% {
    opacity: 1.0;
  }

  42% {
    opacity: 0.1;
  }

  43% {
    opacity: 1.0;
  }

  45% {
    opacity: 0.1;
  }

  46% {
    opacity: 1.0;
  }
}

.btn-voltar {
  position: absolute;
  top: 15px;
  left: 80px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-voltar:hover {
  background-color: rgba(255, 255, 255, 0.2);
}